section{
  width: 80%;
  height: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: left;
  margin: 0 auto;
}
.principal{
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  left: -10%;
  right: -10%;
}

.buttonedit{
  margin-bottom: auto;
  margin-top:auto;
  top: 50%;
}
.device{
  margin-left:2%;
  margin-bottom:auto;
  margin-top:-10px;
  top:50%;
}

.alldevices{
  margin-right:1%;
  margin-left:1%;
}

.devicescontainer{
  flex-direction: column;
}

.light{
  margin-top: 2%;
}

.getouthere{
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

h1{

}
h1 {
  font-size: 2.1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
   font-size: 1.7em;
   margin-top: 0.67em;
   margin-bottom: 0.67em;
   margin-left: 0;
   margin-right: 0;
   font-weight: bold;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
  0px 6px 11px rgba(0,0,0,0.1),
  0px 16px 21px rgba(0,0,0,0.1);
 }
h3 {
  font-size: 1.3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}



.separador {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Altura de la línea separadora */
  background: #ccc; /* Color de la línea */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2); /* Sombra debajo de la línea */
  margin: 10px 0; /* Espacio vertical entre el contenido y la línea */
}
