<section>
  <div class="principal">
    <div class="device">
      <h1>Devices</h1>
    </div>
  </div>
  <div class="separador"></div>
  <div class="alldevices">
    <div class="devicescontainer">
      <div class="light">
        <div class="getouthere">
          <div>
          <h2>Light</h2>

          </div>
          <div>

            <button pButton pRipple label="Add" class="p-button-success"></button>
          </div>
        </div>
        <div class="separador"></div>
        <div *ngIf="dataFromServer && dataFromServer.light" class="lightcontainer">
          <!-- Mostrar el componente Light -->
          <app-light [lightData]="dataFromServer.light"></app-light>
        </div>
      </div>

      <div class="door">
        <div class="getouthere">
          <h2>Door</h2>
          <button pButton pRipple label="Add" class="p-button-success"></button>
        </div>
        <div class="separador"></div>
        <!-- Mostrar el componente Door -->
        <div class="doorcontainer">
          <div *ngIf=" dataFromServer && dataFromServer.door">
            <app-door [doorData]="dataFromServer.door"></app-door>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

