<section>
  <div class="principal">
    <div class="device">
      <h1>Devices</h1>
    </div>

    <div class="buttonedit">
      <span class="p-buttonset">
        <button pButton pRipple label="Save" icon="pi pi-check"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
    </span>
    </div>



  </div>
  <div class="separador"></div>
  <div class="alldevices">
    <div class="devicescontainer">
      <div class="light">
        <h1>Light</h1>
        <div class="separador"></div>
        <div *ngIf="dataFromServer && dataFromServer.light" class="lightcontainer">
          <!-- Mostrar el componente Light -->
          <app-light [lightData]="dataFromServer.light"></app-light>
        </div>
      </div>

      <div class="door">
        <h1>Door</h1>
        <div class="separador"></div>
        <!-- Mostrar el componente Door -->
        <div class="doorcontainer">
          <div *ngIf=" dataFromServer && dataFromServer.door">
            <app-door [doorData]="dataFromServer.door"></app-door>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

